html {
  font-family: system-ui, sans-serif;
  line-height: 1.6;
}

body {
  max-width: 50rem;
  margin: 0 auto;
  padding: 1rem;
}

header {
  margin-bottom: 2rem;
}

article {
  margin-bottom: 3rem;
}

img {
  max-width: 100%;
}

pre {
  overflow-x: auto;
}

.p-pagination__ctrl {
  display: flex;
  justify-content: space-between;
}