{% extends "base.html" %}

{% block content %}

{{ section.content | safe }}

{% for page in paginator.pages %}
<article>
  <h2>
    <a href="{{ page.permalink }}">{{ page.title }}</a>
  </h2>

  {% if page.date %}
  <p>
    <time datetime="{{ page.date | date(format='%F') }}">
      {{ page.date | date(format="%F") }}
    </time>

    {% if page.extra.author %}
      by {{ page.extra.author }}
    {% endif %}
  </p>
  {% endif %}

  {% if page.summary %}
    {{ page.summary | safe }}
  {% else %}
    <p>{{ page.content | striptags | truncate(length=280) }}</p>
  {% endif %}

  <p><a href="{{ page.permalink }}">Read more…</a></p>
</article>
{% endfor %}

{% if paginator.previous %}
<a href="{{ paginator.previous }}">Newer</a>
{% endif %}

{% if paginator.next %}
<a href="{{ paginator.next }}">Older</a>
{% endif %}

{% endblock content %}