{% extends "base.html" %}

{% block content %}
You've come to the right place to see how Sridhar thinks about math.

Keep in mind, nothing here is polished, it's full of TODOs, you shouldn't be reading this site, who told you it even exists?

{#
<h1> All Posts, Unorganized</h1>

([Atom feed](/feed/math.xml))

<h1 class="title">
  This is my blog made with Zola.
</h1>
<p><a href="{{ get_url(path='@/_index.md') }}">Posts</a>.</p>
{% endblock content %}
#}

<h1 class="title">
  {{ section.title }}
</h1>
<ul>
  <!-- If you are using pagination, section.pages will be empty.
       You need to use the paginator object -->  
  {% for page in section.pages %}
  <li><a href="{{ page.permalink | safe }}">{{ page.title }}</a></li>
  {% endfor %}
</ul>
{% endblock content %}